/*html {
  background-color: #F0F8FF;
}*/

header nav{
  letter-spacing: .1em;
}
header nav a{
  color: #191970;
  margin: 0 30px;
  transition: color .3s;
  vertical-align: top;
  font-size: 1.2em;
  display: inline-block;
  background-color: #F0F8FF;
}
a {
  text-decoration: none!important;
  font-family: 'Baloo', cursive;
  background-color: transparent;
}
a:hover{
  font-size: 1.5em;
}

form {
    border: 3px solid #5F9EA0;
    background-color: #B0C4DE
}
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #191970;
    box-sizing: border-box;
}

button {
    background-color: #8B0000;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

.container {
    padding: 16px;
}


/*#Home Page CSS*/

.home_title{
  text-align: center;
}

.about {
  width: 200px;
  height: 400px;
  float: left;
}
.images {
  position: relative;
  width: 400px;
  height: 600px;
  padding: 100px;
  margin-left: 300px;
  text-align: center;
}

.DarkKnight{
  z-index: 3;
  width: 400px;
  height: 600px;
  position: absolute;
  transform: rotate(20deg);
}

.LOTR{
  z-index: 1;
  width: 400px;
  height: 600px;
  left: 200px;
  position: absolute;
  transform: rotate(60deg);
}

.DaysofSummer{
  z-index: 2;
  width: 400px;
  height: 600px;
  left: 200px;
  position: absolute;
  transform: rotate(40deg);
}

.about {
  z-index: 4;
  top: 200px;
  width: 500px;
  height: 500px;
  position: absolute;
  color: red;
  background: black;
  background: rgba(0,0,0,0.8);

  filter:blur(.1px);
}
#homepage {
  background: #F0F8FF;
  height: 200vh;
  width: 200vw;
}

/*#User Show ALL MOVIES*/
.poster_url {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 250px;
  height: 400px;
}

.edit_button {
  width: 100px;
  height: 60px;
}

.delete_button {
  width: 100px;
  height:60px;
}
