/*nav bar*/
header nav{
  letter-spacing: .1em;
}
header nav a{
  color: #161E78;
  margin: 0 30px;
  transition: color .3s;
  vertical-align: top;
  font-size: 1.2em;
  display: inline-block;
}

a {
  text-decoration: none!important;
  font-family: 'Baloo', cursive;
  background-color: transparent;
}

a:hover{
  font-size: 1.5em;
}
}


/*//FORM BOX sign in signup.*/
/*.signup {
  background-color:blue;

}*/
.form_box {
    border: 3px solid #f1f1f1;
    background: red;
    width: 500px;
    height: 620px;
    margin-left: auto;
    margin-right: auto;

}
label {
  text-align: center;
}

.input{
  margin-left: auto;
  margin-right: auto;
}

/*input[type=text], input[type=password] {
    width: 200px;
    padding: 12px 20px;
    display: block;
    border: 1px solid #ccc;
    box-sizing: border-box;

}*/

button {
    background-color: #5F9EA0;
    color: white;
    padding: 14px 20px;
    margin: 0 auto;
    border: none;
    cursor: pointer;
    width: 150px;

}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

.container {
    padding: 16px;
}
