<div id="homepage">


<h1 class="home_title"> Movie Reviews </h1>



<div class="images">
  <div class="DarkKnight"><img src="./css/images/Dark_Knight.jpg" alt="dark knight"></img></div>
  <div class="LOTR"><img src="./css/images/The-Lord-of-the-Rings-Poster.jpg"></img></div>
  <div class="DaysofSummer"><img src="./css/images/500_days_of_summer.jpg" alt="500 DoS"></img></div>
  <div class="about">
    <h2> About Movie Reviews </h2>
    <h4> Movie Reviews is a user friendly way to store movies that you've seen and create a quick review. </h4>
  </div>
</div>

</div>











  <!-- <div class="homeSearch">
  <form id="searchMovies">
    <label for="mainSearch"><h2>Looking For A Movie?</h2></label>
    <input id="mainSearch" type="text" placeholder="Search for movie" ng-model="searchBar">
  </form>
</div>
<br>
<br>
<div class="homeMovies">
  <div class="eachMovie" ng-repeat="Movie in rand.shuffledMovieData | filter: searchBar">
    <h4 class="MovieTitles">{{movie.name}}</h4>
    <img ng-src="{{movie.url}}" alt="{{movie.name}}"><br>
    <div ng-if="home.currentUser">
      <i ng-click="rand.saveFeedMovie(movie, home.currentUser._id)"  class="fa fa-heart movieFeedIcons iconSave"> Save</i>
    </div>
    <h6 class="movieTitles">Category: {{movie.category}}</h6>
  </div>
</div> -->
