

  <form class="form_box">
    <div class="imgcontainer">
      <img src="./css/images/Movies.jpg" alt="Movie" class="avatar">
    </div>

    <div class="container">
      <div>
        <label><b>Email</b></label>
        <input type="text" placeholder="Enter Email" name="email" required>
      </div>
      <div>
        <label><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="password" required>
      </div>
      <div class="button_div">
        <button type="submit">Login</button>
      </div>
    </div>
  </form>
