<div class="all-movies-container">
  <div ng-repeat="movie.savedMovies">
    <div>
      <h4>{{savedMovie.name}}</h4>
      <img ng-src="{{movie.url}}" alt="">
      <button ng-click="movie.deleteMovie(movie._id, home.currentUser)">Delete</button>
      <button ng-click="movie.populateFormData(movie, home.currentUser)">Edit</button>
    </div>
  </div>
</div>


<!-- ng-repeat="movie in movie.movies" ng-click="movie.showMovies(movies)" class="board-row" -->
<!-- <div class="savedMovies-container">
<div>
  <div ng-repeat="movie in movie.getSavedMovies">
    <h4>{{movie.title}}</h4>
    <img ng-src="{{movie.url}}" alt="">
    <button ng-click="movie.deleteMovie(movie._id, home.currentUser)">Delete</button>
    <button ng-click="movie.populateFormData(movie, home.currentUser)">Edit</button>
  </div>
</div>
</div> -->
