
<div ng-controller="MovieController as movie">
  <div ng-controller="ReviewController as review">
    <button ng-click="showMovieForm = !showMovieForm"> Create your own movie to review </button>
    <button ng-click="movie.showMovies(movies)">Show Movie Collection</button>
    <div class="allmovies" ng-repeat=" film in movie.movies">
      <h1> {{film.title}}</h1>
      <img ng-click="movie.showMovie(movie)" class="poster_url" src="{{film.poster_url}}">
      <button ng-click="movie.deleteMovie(film.id)" class="delete_button"> Delete </button>
        <button ng-click="movie.showMovie(movie)"" class="review_button"> Review</button>
    </div>

    <!-- Create Movie Form  -->
      <div ng-show="showMovieForm">
        <form ng-submit="movie.createMovie()">
          <input ng-model="newMovie.title" type="text" placeholder="Movie Title">
          <input ng-model="newMovie.release_date" type="text" placeholder=" Release Date">
          <input ng-model="newMovie.director" type="text" placeholder="Director">
          <input ng-model="newMovie.genre" type="text" placeholder="Genre">
          <input ng-model="newMovie.poster_url" type="text" placeholder="Movie Poster Link">
          <button ng-click="movie.createMovie(home.currentUser.id, newMovie)" type="submit"> Add Movie </button>
        </form>
      </div>

      <div ng-show="showReviewForm">
        <form ng-submit="review.createReview()">
          <!-- <input ng-model="newReview.title" type="text" placeholder="Movie Title"> -->
          <input ng-model="newReview.rating" type="text" placeholder="Rating">
          <input ng-model="newReview.comments" type="text" placeholder="comments">
          <button ng-click="review.createReview(home.currentUser.id, newReview)" type="submit"> Add Review </button>
        </form>
      </div>

    </div>
</div>


























<!--

<div class="all-movies-container">
  <div ng-repeat="movie.savedMovies">
    <div>
      <h4>{{savedMovie.name}}</h4>
      <img ng-src="{{movie.url}}" alt="">
      <button ng-click="movie.deleteMovie(movie._id, home.currentUser)">Delete</button>
      <button ng-click="movie.populateFormData(movie, home.currentUser)">Edit</button>
    </div>
  </div>
</div>
 -->

<!-- ng-repeat="movie in movie.movies" ng-click="movie.showMovies(movies)" class="board-row" -->
