<div ng-controller="AuthController as auth" class="signup">
<form ng-submit="auth.signup(user)" class="form_box">
  <div class="imgcontainer">
    <img src="./css/images/filmReviewLogo.jpg" alt="Movie" class="avatar">
  </div>
  <div class="container">
  <div class=input>
    <label><b>Name</b></label>
    <input type="text" ng-model="user.name" placeholder="Enter name" required>
  </div>
  <div class="input">
    <label><b>Email</b></label>
    <input type="text"  ng-model="user.email" placeholder="Enter Email"required>
  </div>
  <div class="input">
    <label><b>Password</b></label>
    <input type="password" ng-model="user.password_digest" placeholder="Enter Password" required>
  </div>
    <button ng-click="auth.signup(user)" type="submit">Sign Up</button>
  </div>
</form>
</div>
