<h1> Your Movie Collection </h1>

<div ng-controller="MovieController as movie" class="show-form">
  <div>
    <h3 class="create" ng-click="showMovieForm = !showMovieForm"><i class= "fa fa-plus" aria-hidden="true"></i>Add a New Movie </h3>
  </div>


  <div ng-show="showMovieForm">
    <form ng-submit="movie.createMovie()">
      <input ng-model="newMovie.title" type="text" placeholder="Movie Title">
      <input ng-model="newMovie.release_date" type="text" placeholder=" Release Date">
      <input ng-model="newMovie.director" type="text" placeholder="Director">
      <input ng-model="newMovie.genre" type="text" placeholder="Genre">
      <input ng-model="newMovie.poster_url" type="text" placeholder="Movie Poster Link">
      <button ng-click="movie.createMovie(newMovie)" type="submit"> Add Movie </button>
    </form>
  </div>
</div>






<!-- <h1> Your Movie Collection </h1>

<div ng-controller="MovieController as movie" class="show-form">
  <div>
    <h3 class="create" ng-click="showMovieForm = !showMovieForm"><i class= "fa fa-plus" aria-hidden="true"></i>Add a New Movie </h3>
  </div>


  <div ng-show="showMovieForm">
    <form ng-submit="movie.createMovie()">
      <input ng-model="movie.title" type="text" placeholder="Movie Title">
      <input ng-model="movie.release_date" type="text" placeholder=" Release Date">
      <input ng-model="movie.director" type="text" placeholder="Director">
      <input ng-model="movie.genre" type="text" placeholder="Genre">
      <input ng-model="movie.poster_url" type="text" placeholder="Movie Poster Link">
      <button ng-click="movie.createMovie()" type="submit"> Add Movie </button>
    </form>
  </div>
</div> -->
