<h1> Your Movie Collection </h1>







  <!-- <div ng-show="showMovieEditForm">

    <! // This is movie create form, I need to figure out how to go to the  review  page:  -->
    <!-- <form ng-submit="movie.updateMovie()">
      <input ng-model="newMovie.title" type="text" placeholder="Movie Title">
      <input ng-model="newMovie.release_date" type="text" placeholder=" Release Date">
      <input ng-model="newMovie.director" type="text" placeholder="Director">
      <input ng-model="newMovie.genre" type="text" placeholder="Genre">
      <input ng-model="newMovie.poster_url" type="text" placeholder="Movie Poster Link">
      <button ng-click="movie.editMovie(home.currentUser.id, newMovie)" type="submit"> Edit Movie </button>
    </form>
  </div> -->

  <div>
    <h3 class="create" ng-click="showReviewForm = !showReviewForm"><i class= "fa fa-plus" aria-hidden="true"></i>Add Review</h3>
  </div>
  <div ng-show="showReviewForm">
    <form ng-submit="movie.createReview()">
      <!-- <input ng-model="newReview.title" type="text" placeholder="Movie Title"> -->
      <input ng-model="newReview.rating" type="text" placeholder=" Rating">
      <input ng-model="newReview.comments" type="text" placeholder="comments">
      <button ng-click="review.createReview(home.currentUser.id, newReview)" type="submit"> Add Review </button>
    </form>
  </div>



<div>
    <button ng-click="movie.showMovies(movies)">Show Me My Movies</button>
    <div ng-repeat=" film in movie.movies">
      <h1> {{film.title}}, id{{film.user_id}}</h1>
      <!-- {{film}} -->
      <img class="poster_url" src="{{film.poster_url}}">
      <button ng-click="movie.deleteMovie(film.id)" class="delete_button"> Delete </button>
      <button ng-click="showMovieEditForm = !showMovieEditForm" class="edit_button"> Edit </button>
      {{film.user_id}}
    </div>

  </div>

  <div>
      <button ng-click="movie.showReviews(movies)">Show Me My Reviews</button>
      <div ng-repeat=" review in review.reviews">
        <h1> {{film.title}}, id{{film.user_id}}</h1>
        <!-- {{film}} -->
        <img class="poster_url" src="{{film.poster_url}}">

        <button class="edit_button"> Edit </button>
        {{film.user_id}}
      </div>
    </div>
</div>

<h3>CURRENT USER: {{home.currentUser.id}}</h3>




<!-- <h1> Your Movie Collection </h1>

<div ng-controller="MovieController as movie" class="show-form">
  <div>
    <h3 class="create" ng-click="showMovieForm = !showMovieForm"><i class= "fa fa-plus" aria-hidden="true"></i>Add a New Movie </h3>
  </div>


  <div ng-show="showMovieForm">
    <form ng-submit="movie.createMovie()">
      <input ng-model="movie.title" type="text" placeholder="Movie Title">
      <input ng-model="movie.release_date" type="text" placeholder=" Release Date">
      <input ng-model="movie.director" type="text" placeholder="Director">
      <input ng-model="movie.genre" type="text" placeholder="Genre">
      <input ng-model="movie.poster_url" type="text" placeholder="Movie Poster Link">
      <button ng-click="movie.createMovie()" type="submit"> Add Movie </button>
    </form>
  </div>
