<h1> My Reviews </h1>
<div>
  <div ng-controller="ReviewController as review">
    <h3 class="create" ng-click="showReviewForm = !showReviewForm"><i class= "fa fa-plus" aria-hidden="true"></i>Add Review</h3>
  </div>

  <div ng-show="showReviewForm">
    <form ng-submit="movie.createReview()">
      <input ng-model="newReview.title" type="text" placeholder="Movie Title">
      <input ng-model="newReview.rating" type="text" placeholder=" Rating">
      <input ng-model="newReview.comments" type="text" placeholder="comments">
      <button ng-click="review.createReview(home.currentUser.id, newReview)" type="submit"> Add Review </button>
    </form>
  </div>
</div>





<!-- <div>
    <button ng-click="movie.showMovies(movies)">Show Me My Movies</button>
    <div ng-repeat=" film in movie.movies">
      <h1> {{film.title}}, id{{film.user_id}}</h1>
      <img class="poster_url" src="{{film.poster_url}}">
      <button ng-click="movie.deleteMovie(film.id)" class="delete_button"> Delete </button>
      <button ng-click="showMovieEditForm = !showMovieEditForm" class="edit_button"> Edit </button>
      {{film.user_id}}
    </div>

  </div>

  <div>
      <button ng-click="movie.showReviews(movies)">Show Me My Reviews</button>
      <div ng-repeat=" review in review.reviews">
        <h1> {{film.title}}, id{{film.user_id}}</h1>
        <!{{film}} -->
        <!-- <img class="poster_url" src="{{film.poster_url}}">

        <button class="edit_button"> Edit </button>
        {{film.user_id}}
      </div>
    </div>
</div>

<h3>CURRENT USER: {{home.currentUser.id}}</h3> -->
